<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin collect</title>
</head>
<body>
Collection For This Month : {{revenue}}<br>
Current Users : {{user_cnt[0][0]}}<br>
User Unpayed<br>
<table border="1">
    <tbody>
        {% for user in unpayed_user_list %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table><br>
<a href = "{{ url_for("login_action", user_id='admin') }}">
    <button type="submit">return</button>
</a>
</body>
</html>